#container {
    display: flex;
}

#col {
    display: flex;
    flex-direction: column;
    width: 50px;
    flex: 1 1 0%;
}

#col div {
    background: lightgray;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    /* height: auto; */
    flex: 1 1 auto;
}