#container {
    display: flex;
}

#col {
    display: flex;
    flex-direction: column;
    width: 50px;
    flex: 1 1 0%;
}

#col div {
    background: black;
    /* border: 1px solid gray; */
    aspect-ratio: 1 / 1;
    margin: 1px;
    flex: 1 1 auto;
}

button {
    border: 0;
    padding: 10px;
    margin: 10px 0;
}